{% extends 'dashaside.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} Customer list {% endblock title %}</title>
</head>
<body>
  {% block body %}
      <div class="col-md-7 flex-md-fill">
        <div class="col right" id="customer-list">
          <h2 class="ps-1 pt-3" style="color: blue">Customer List</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  {% for i in columns %}
                  <th scope="col">{{i}}</th>
                  {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for i in details %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.utility_name }}</td>
                    <td>{{ i.utility_short_name }}</td>
                    <td>{{ i.utility_state }}</td>
                    <td>{{ i.utility_district }}</td>
                    <td>{{ i.utility_country }}</td>
                    <td>{{ i.utility_postalcode }}</td>
                    <td>{{ i.utility_address }}</td>
                    <td>{{ i.contact_person }}</td>
                    <td>{{ i.contact_email }}</td>
                    <td>{{ i.contact_phnum }}</td>
                    <td>{{ i.contact_mobile }} </td>
                    <td>{{ i.contact_designation }}</td>
                    <td>{{ i.contact_landline }} </td>
                    <td>{{ i.emergency_person }} </td>
                    <td>{{ i.emergency_altperson }} </td>
                    <td>{{ i.emergency_mobile }} </td>
                    <td>{{ i.emergency_altmobile }} </td>
                    <td>{{ i.emergency_officeaddress }} </td>
                    <td>{{ i.emergency_altofficeaddress }} </td>
                    <td>{{ i.info_created_at }}</td>
                    <td>{{ i.info_updated_at }}</td>

                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock body %}
</body>
{% block script %}
<script src="{% static 'dashboard/script.js' %}"></script>
{% endblock script %}
</html>

