<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>customer details</h1>
<button><a href="{% url 'addcust' %}"> Add Customer </a></button>
</br>
</br>
<table>
  <tr>
    {% for i in columns %}
    <th>{{i}}</th>
    {%endfor%}
  </tr>
{% for i in details %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.utility_name }}</td>
        <td>{{ i.utility_short_name }}</td>
        <td>{{ i.utility_state }}</td>
        <td>{{ i.utility_district }}</td>
        <td>{{ i.utility_country }}</td>
        <td>{{ i.utility_postalcode }}</td>
        <td>{{ i.contact_person }}</td>
        <td>{{ i.contact_email }}</td>
        <td>{{ i.contact_phnum }}</td>
        <td>{{ i.contact_designation }}</td>
        <td>{{ i.office_address }}</td>
        <td>{{ i.info_created_at }}</td>
        <td>{{ i.info_updated_at }}</td>
        <td><button><a href="{% url 'deletecustomer' i.utility_name %}">delete</a></button></td>
        <td><button><a href="{% url 'customer-update' i.utility_name %}">edit</a></button></td>
    </tr>
{%endfor%}
</table>

</body>
</html>

