<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

<style>
  #toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: relative;
    font-size: 24px;
    line-height: 18px;
    float: left;
    margin-left: -1em;
    color: #FFF;
    padding-right: 0.5em;
    margin-right: 0.5em;

}
#toast-container .toast{
    background-color: #1b75bc !important;
}
#toast-container> .fa-check , .toast {
    background-color: #328b17 !important;
}
#toast-container> .fa-trash , .toast  {
    background-color: #590619 !important;
}


.toast-message{
    font-family: Calibri;
}

</style>
</head>
<body>
    <script>
        function myFunction(hh){
      toastr.options = {
        "positionClass" : "toast-top-center",
                "closeButton" : true,
                "debug" : false,
                "newestOnTop" : false,
                "progressBar" : true,
                "preventDuplicates" : false,
                "onclick" : null,
                "showDuration" : "300",
                "hideDuration" : "1000",
                "timeOut" : "5000",
                "extendedTimeOut" : "1000",
                "showEasing" : "swing",
                "hideEasing" : "linear",
                "showMethod" : "fadeIn",
                "hideMethod" : "fadeOut"
}
Command: toastr["success"](hh)
}
</script>

<script>
function notifyMe(hh) {
  // Let's check if the browser supports notifications
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  }

  // Let's check whether notification permissions have already been granted
  else if (Notification.permission === "granted") {
    // If it's okay let's create a notification

    let notification = new Notification(hh);
  }

  // Otherwise, we need to ask the user for permission
  else if (Notification.permission !== "denied") {
    Notification.requestPermission().then(function (permission) {
      // If the user accepts, let's create a notification
      if (permission === "granted") {
        let notification = new Notification(hh);
      }
    });
  }
}
</script>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <script>
            myFunction('{{message}}')
            </script>
        {% elif message.tags == "error" %}
        <script>
            myFunction('{{message}}')
            </script>
        {% elif message.tags == "warning" %}
        <script>
            myFunction('{{message}}')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
