{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
						<h1>{{page_profile.full_name}}</h1>
						<p>@{{user.username}}</p>
						<br>
								<h1>Profile Information</h1>
								<h1 class="question">Mobile :</h1>
								<h3 class="answer">{{page_profile.ph_num}}</h3>
								<br><br>
								<h1 class="question">Email :</h1>
								<h3 class="answer">{{page_profile.email}}</h3>

</body>
</html>