<!DOCTYPE html>
<html>
<body>
<h1>show apps</h1>
<button><a href="{% url 'customerlist'%}">view customer list directly</a></button>
</br></br>

{% if leni != 0 %}
    {% for i in showapp %}
        <h2>{{i.appname}}<h2>
        <img src="{{i.appimg.url}}" width="200px">
        <h3>{{i.updated_at}}
        <button><a href="{% url 'deleteapp' i.appname%}">delete</a></button>
    {%endfor%}
    </br></br>
    <button><a href="{% url 'addapp'%}">addapp</a></button>
{% else %}
    <h2>no apps found</h2>
    <button><a href="{% url 'addapp'%}">addapp</a></button>
{% endif%}

</body>
</html>